@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --clr-primary-300: hsl(209, 23%, 22%); 
  --clr-primary-500: hsl(207, 26%, 17%); 
  --clr-primary-700: hsl(200, 15%, 8%);
  --clr-secondary-100: hsl(0, 0%, 100%); 
  --clr-secondary-300: hsl(0, 0%, 85%);
  --clr-secondary-500: hsl(0, 0%, 52%); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countries-flag {
  width: 100%;
  height: 45%;
  border-radius: 10px 10px 0 0;
}

li {
  text-decoration: none;
  list-style-type: none;
}

button {
  border: none;
  background: none;
  color: var(--clr-secondary-100);
}

button:hover {
  cursor: pointer;
}

.loading {
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  width: 80px;
  height: 80px;
}

.loading div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loading div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loading div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes loading {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  background: var(--clr-primary-500);
  color: var(--clr-secondary-300);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 3.5rem;
  background-color: var(--clr-primary-300);
  color: var(--clr-secondary-100);
  -webkit-box-shadow: -1px 7px 7px -2px rgba(0,0,0,0.15);
  box-shadow: -1px 7px 7px -2px rgba(0,0,0,0.15);
}

ul h3 {
  letter-spacing: 0.075rem;
}


button {
  padding: 1rem 1.75rem;
  border-radius: 10px;
  background: var(--clr-primary-300);
  color: var(--clr-secondary-300);
}

.app {
  margin: 0 auto;
  max-width: 1280px;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-block: 3em;
  justify-content: center;
  gap: 4rem;
}

.card {
  background: var(--clr-primary-300);
  border-radius: 10px;
}


/* .card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
} */

.search input {
  padding-block: 1rem;
  padding-left: 1.5rem;
  padding-right: 3rem;
  border: none;
  border-radius: 7px;
  background: var(--clr-primary-300);
  color: var(--clr-secondary-300);
}

input::placeholder {
  color: var(--clr-secondary-300);
}

input:focus,
select:focus {
  outline: 0.25px solid var(--clr-secondary-500);
}

/* .filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */

.filter::after {

}

select {
  padding: 1rem 1.25rem;
  background: var(--clr-primary-300);
  color: var(--clr-secondary-300);
  border: none;
  border-radius: 7px;
  position: relative;
}

/* Individual Country Information */
.country-info {
  display: flex;
}

.country-info p,
.languages p {
  margin-left: 0.4rem;
}

.language:not(:last-child):after {
  content: ',';
}

.country-container {
  margin: 3rem auto;
  max-width: 1280px;
}

.return-button {
  margin-bottom: 3rem;
}

.country-box {
  width: 100%;
  display: flex;
  flex-grow: 1;
  gap: 1rem;
}

.flag-box,
.desc-box {
  width: 100%;
}

.title {
  margin-bottom: 1rem;
}

.country-flag {
  width: 90%;
  height: auto;
}

.country-description {
  display: flex;
}

.desc-1 {
  margin-right: 4rem;
}

.country-description p {
  margin-bottom: 1rem;
}

.borders {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.border-country {
  padding: 0.35rem 0.9rem;
  background: var(--clr-primary-300);
  color: var(--clr-secondary-300);
  border-radius: 3px;
  font-size: 0.85rem;
}

.country-desc {
  padding: 2rem;
  line-height: 1.75rem;
}

.country-desc h3 {
  margin-bottom: 1rem;
}


@media (max-width: 45em) {  
  .controls {
    /* flex-direction: column;
    align-items: center; */
    width: 70%;
    margin-inline: auto;
  }

  .search input {
    padding-right: 1rem;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .card {
    width: 70%;
  }

  .country-box {
    flex-direction: column;
  }

  .country-description {
    flex-direction: column;
  }

  .borders p:first-of-type {
    width: 100%;
  }
}